{% extends "base.html" %}

{% block body %}

<div class="uk-modal" id='modal-new-can'>
	<div class="uk-modal-dialog">
		<a class="uk-modal-close uk-close"></a>
		<h1>New Can</h1>
		<div class="uk-form uk-form-horizontal">
			<div class="uk-form-row">
				<label class="uk-form-label" for="form-h-it">Can Name</label>
				<div class="uk-form-controls">
					<input type="text">
				</div>
			</div>
		</div>
		<div style="margin-top: 10px; text-align: right">
			<button class="uk-button uk-button-primary submit" onclick="submitNewCan()" type="button">Done</button>
		</div>
	</div>
</div>

<div class="uk-modal" id='modal-new-task'>
	<div class="uk-modal-dialog">
		<a class="uk-modal-close uk-close"></a>
		<h1>New Task</h1>
		<div class="uk-form uk-form-horizontal">
			<div class="uk-form-row">
				<label class="uk-form-label" for="form-h-it">Task Name</label>
				<div class="uk-form-controls">
					<input type="text">
				</div>
			</div>
		</div>
		<div style="margin-top: 10px; text-align: right">
			<button class="uk-button uk-button-primary submit" onclick="submitNewTask()" type="button">Done</button>
		</div>
	</div>
</div>

<div class="uk-modal" id='modal-paste-json'>
	<div class="uk-modal-dialog">
		<a class="uk-modal-close uk-close"></a>
		<h1>Import JSON</h1>
		<form class="uk-form">
			<textarea id="paste-json-data"></textarea>
		</form>
		<div style="margin-top: 10px; text-align: right">
			<button class="uk-button uk-button-primary submit" onclick="parseJSONText()" type="button">Done</button>
		</div>
	</div>
</div>

<div class="uk-modal" id='modal-json-viewer'>
	<div class="uk-modal-dialog">
		<a class="uk-modal-close uk-close"></a>
		<form class="uk-form">
			<textarea id="json-area"></textarea>
		</form>
	</div>
</div>

<div class="uk-modal" id="modal-can-settings">
	<div class="uk-modal-dialog">
		<a class="uk-modal-close uk-close"></a>
		<h2>Settings</h2>
		<div class="uk-form uk-form-horizontal">
			<div class="uk-form-row">
				<label class="uk-form-label" for="form-h-it">Link to Can icon</label>
				<div class="uk-form-controls">
					<input id="link-can-icon" />
				</div>
			</div>

			<div class="uk-form-row">
				<label class="uk-form-label" for="form-h-it">Viewing permission</label>
				<div class="uk-form-controls">
					<select id='viewing-permission'>
						<option value="private">Private - Anyone with a link can view</option>
						<option value="public">Public - Anyone can view in Public Cans page</option>
					</select>
				</div>
			</div>

			<div class="uk-form-row">
				<label class="uk-form-label" for="form-h-it">Editing permission</label>
				<div class="uk-form-controls">
					<select id='editing-permission'>
						<option value="owner">Only owner can edit</option>
						<option value="listed">People with emails below can view and edit</option>
					</select>
				</div>
			</div>

			<div id='row-editors' class="uk-form-row">
				<label class="uk-form-label" for="form-h-it">Co-editors</label>
				<div class="uk-form-controls">
					<input id="editors" />
				</div>
			</div>
		</div>
		<div style="margin-top: 10px; text-align: right">
			<button class="uk-button uk-button-primary submit" onclick="submitSettings()" type="button">Done</button>
		</div>
	</div>
</div>

<div class="uk-modal" id='modal-cans-export'>
	<div class="uk-modal-dialog">
		<a class="uk-modal-close uk-close"></a>
		<h2>Choose Cans to Export</h2>
		<form id='cans-container'>
		</form>
		<div class="modal-btn-done">
			<button class="uk-button uk-button-primary submit" onclick='exportCans();' type="button">Done</button>
		</div>
	</div>
</div>

<label id='initial-cans-storage' class='gone'>[{{ cansData | safe }}]</label>

<div id='header'>
	{% include "header.html" %}
	{% load input_type %}
	
	<div id='nav-bar'>
		<div id='nav-bar-content'>
			<span id='new-can'><a href="#modal-new-can" data-uk-modal><img>Create a New Can</a></span><span id='edit-cans' onclick="enterEditMode()"><a href='javascript:;'><img>Edit Cans</a></span><span id='save-can' onclick="uploadChanges()"><a href='javascript:;'><img>Save All Cans</a></span><span id='task-name-caption'>Current Task</span><span id='active-task-name'></span>
			<span id='share'>
				<a href='javascript:;'><img>Share</a>
				<ul>
					<li id='share-export'><a href='#modal-cans-export' onclick="chooseCansToExport();" data-uk-modal>Export JSON File</a></li>
					<!-- <li id='share-email'><a href='javascript:;'>Email</a></li> -->
					<!-- <li id='share-link'><a href='javascript:;'>Link</a></li> -->
				</ul>
			</span>
			<span id='import-json'><a href='#modal-paste-json' data-uk-modal><img>Import Chelada JSON</a></span>
		</div>
	</div>		
</div>

<div id='welcome-title'>To start, create a new Can and a Task in that Can</div>

<div id='editor'>
	<div id='cans-browser'>
		<div id='managing-cans'>
			<div>Cans shared with you</div>
			<ul>
				{% for can in cans %}
				<li class='shared-can'><a href='/browse/browse/id'> {{ can.name }} </a></li>
				{% endfor %}
			</ul>
		</div>
	</div>

	<div id='triggers'></div>
</div>

{% endblock %}

{% block end %}
<script src="/static/javascript/editor.js"></script>
<script src="/static/javascript/triggers.js"></script>
{% endblock %}