{% extends "base.html" %}

{% block body %}

<div id='header'>
	<div id='title-bar'>
		<div id='title-bar-content' style='line-height: 30px' class="uk-grid">
			<div id='chelada-title' class="uk-width-2-10">
				<label>Chelada</label>
			</div>

			<span class="uk-width-2-10">
				<a href='javascript: ;'>What is it?</a>
			</span>

			<span class="uk-width-2-10">
				<a href='javascript: ;'>How can I use it?</a>
			</span>

			<span class="uk-width-2-10">
				<a href='javascript: ;'>What can I make with it?</a>
			</span>
			
			{% if user.is_authenticated %}
            <span id='logged-in-logout' class="uk-width-2-10">
                <div class="uk-button-dropdown" data-uk-dropdown>
                    Welcome,
                    <a href='/editor' class="uk-button">{{ user.first_name }}</a>

                    <div class="uk-dropdown uk-dropdown-small">
                        <ul class="uk-nav uk-nav-dropdown">
                            <li><a href='/editor'>My Feeds</a></li>
                            <li><a href='/user/logout'>Log out</a></li>
                        </ul>
                    </div>

                </div>
            </span>
            {% else %}
            <span id='login-register' class="uk-grid uk-width-2-10">
                <span id='register' class="uk-width-1-2">
                    <a href="#modal-reg" data-uk-modal>Register</a>
                </span>
                <span id='user-login' class="uk-width-1-2">
                    <a href="#modal-login" data-uk-modal>Login</a>
                </span>
            </span>
            {% endif %}
        </div>
    </div>
</div>

<div class="uk-modal" id='modal-login'>
    <div class="uk-modal-dialog">
        <a class="uk-modal-close uk-close"></a>
        <h1>Log in</h1>

        <div class="uk-form uk-form-horizontal">

            <div class="uk-form-row">
                <label class="uk-form-label" for="form-h-it">Email</label>
                <div class="uk-form-controls">
                    <input type="text" id="email" placeholder="Email">
                </div>
            </div>
            <div class="uk-form-row">
                <label class="uk-form-label" for="form-h-ip">Password</label>
                <div class="uk-form-controls">
                    <input type="password" id="pwd" placeholder="Password">
                </div>
            </div>

        </div>

        <div style="margin-top: 10px; text-align: right">
            <button class="uk-button uk-button-primary submit" type="button">Login</button>
        </div>
        {% csrf_token %}
    </div>
</div>

<div class="uk-modal" id='modal-reg'>
    <div class="uk-modal-dialog">
        <a class="uk-modal-close uk-close"></a>
        <h1>Register</h1>

        <div class="uk-form uk-form-horizontal">

            <div class="uk-form-row">
                <label class="uk-form-label" for="form-h-it">Email</label>
                <div class="uk-form-controls">
                    <input type="text" id="email" placeholder="Email">
                </div>
            </div>
            <div class="uk-form-row">
                <label class="uk-form-label" for="form-h-ip">Password</label>
                <div class="uk-form-controls">
                    <input type="password" id="pwd" placeholder="Password">
                </div>
            </div>
            <div class="uk-form-row">
                <label class="uk-form-label" for="form-h-ip">Repeat Password</label>
                <div class="uk-form-controls">
                    <input type="password" id="pwd-repeat" placeholder="Password">
                </div>
            </div>
            <div class="uk-form-row">
                <label class="uk-form-label" for="form-h-ip">Nickname</label>
                <div class="uk-form-controls">
                    <input type="text" id="nickname" placeholder="Nickname">
                </div>
            </div>
        </div>

        <div style="margin-top: 10px; text-align: right">
            <button class="uk-button uk-button-primary submit" type="button">Register</button>
        </div>
        {% csrf_token %}
    </div>
</div>

<div class="uk-modal" id='modal-reg-complete'>
    <div class="uk-modal-dialog">
        <a class="uk-modal-close uk-close"></a>
        <h1>Done!</h1>
        <p>A confirmation Email has been sent. Please click the link enclosed to activate your account. Welcome to Chelada!</p>
    </div>
</div>

<div id='intro-body'>
	<img src='/static/images/frontpage.png' style="width: 100%">
</div>


{% endblock %} <!-- /body -->
